# Ignore everything by default
/*

!/.github
!/generated
!/gradle
!/sample-mod
!/src
!/templates

!/.cliff.toml
!/.editorconfig
!/.gitattributes
!/.gitignore
!/build.gradle.kts
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle.kts
